/*input.ng-invalid.ng-touched {
  border: 1px solid red;
}*/

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
/*.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}*/