<div>
<app-header *ngIf="MemberId===true"></app-header>
  <div class="{{ MemberId === false ? 'log-in-center' : ''}}">
  <section id="main-content" class="{{ SlideMenu == false ? '': 'sidebar_shift' }} {{ MemberId === false ? 'log-in-center' : ''}}">
   <!--<section id="main-content"> -->
    <section class="wrapper main-wrapper {{ MemberId === false ? 'log-in-center' : ''}}">
      <div class="content-wrapper {{ MemberId === false ? 'log-in-center' : ''}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 {{ MemberId === false ? 'log-in-center' : ''}}">
          
              <router-outlet (activate)="changeOfRoutes()"></router-outlet>    
      
        </div>
      </div>
    </section>
  </section>
  <!--for login footer  -->
  <div *ngIf="MemberId === false" class="log-in-footer">Copyright © {{today | date: 'yyyy'}} Dada Bhagwan Foundation.</div>   

  <div *ngIf="MemberId === false" class="grid-name">This site is built using <a href="https://www.ag-grid.com/" target="_blank">ag-grid.com</a></div>

  <div *ngIf="MemberId === true" class="footer-collapse">Copyright © {{today | date: 'yyyy'}} Dada Bhagwan Foundation.</div>

  </div>
</div>    
<div *ngIf="MemberId === false" id="log-in-bg">
     <img src="assets/Images/akonnect-weblogin-bg.jpg" alt="">
</div>
