
<!--<button pButton type="button" icon="fa-edit" class="ui-button-success" (click)="Edit();"></button>   
<button pButton type="button" icon="fa-trash" class="ui-button-danger" (click)="Delete();"></button> -->

<img title="Edit" alt="Edit" src="assets/Images/icon_edit.png" style="cursor:pointer;" (click)="Edit();"/>
<img title="Delete" alt="Delete" src="assets/Images/icon_delete.png" style="cursor:pointer;" (click)="Delete();"/>

<!--ng-click="Edit(' + params.rowIndex + ',' + params.data.count + ');" -->
<!--ng-click="Delete();"-->

