<section class="box">
<header class="p_headercenter">
    <h2 class="title pull-left">Events</h2>
</header>

<!--confirm Dialog-->
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!--Message-->
<p-growl [(value)]="msgs"></p-growl>

<div class="content-body">
    <button class="ui-button-info" icon="fa-plus" pButton label="Add Event" (click)="onAddEvent()"></button>
    <ag-grid-angular style="width: 100%; height: 600px;"
                    class="ag-theme-material"
                    [gridOptions]="gridOptions"
                    enableSorting 
                    enableFilter 
                    enableColResize
                    pagination
                    showToolPanel=false
                    paginationPageSize="10"
                    rowHeight="50">
    </ag-grid-angular>
</div>
</section>
